@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');


a{
    text-decoration: none;
}

/* top bar */

.top-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 400px;
}

.content-topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    color: rgb(177, 177, 177);   
    height: 40px;
}

.right-top-bar a{
    text-decoration: none;
    padding: 0px 25px;
    color: rgb(177, 177, 177);
    border-right: 1px solid rgb(102, 102, 102);   
}
.right-top-bar a:first-child{
    border-left: 1px solid rgb(102, 102, 102);
}


/* top navbar */
/* .header-nav{
    position: sticky;
    background-color: transparent;
    width: 100%;
    height: 84px;
    top: 0px;
    left: 0px;
    transition: height 0.3s, background-color 0.3s;
    z-index: 11000;
    transition: all 300ms;
} */



header{
    position: sticky;
    top:0px;
    z-index: 111100;
}

.header-nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -64px ;
    transition: height 0.3s, background-color 0.3s;
}

.scrolled{
    background-color: white;
    width: 100%;
    height: 84px;
    top: 0px;
    left: 0px;
    transition: height 0.3s, background-color 0.3s;
    z-index: 11000;
    transition: all 300ms;
    z-index: 200000000 ;
}



.header-nav nav{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.logo{
    display: flex;
    align-items: center;
    height: 65%; 
    margin-right: 55px;
}

.menu-desktop{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.main-menu{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.main-menu > li{
    display: block;
    position: relative;
    padding: 20px 10px 20px 0px;
    margin: 0px 4px 0px 14px;
}

.main-menu > li > a{
    font-family: Poppins;
    font-size: 14px;
    color: #333;
    padding: 5px 0px;
    transition: all 0.4s;
}

.main-menu > li[class="active-menu"] > a{
    color: #6c7ae0;
}

.nav-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.icon-item{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.icon-item a{
    color: #333;
    margin: 0px 12px;
}


.liked-items, .cart-items{
    position: relative;
}



.icon-badge{
    content:0;
    font-family: Poppins;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    text-align: center;
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    background-color: #717fe0;
}


/* carousel */

#carouselExampleInterval .bi-caret-right-fill,#carouselExampleInterval .bi-caret-left-fill{
    display: none;
     font-size: 35px;
     color: #717fe0;
}

#carouselExampleInterval:hover .bi-caret-right-fill,#carouselExampleInterval:hover .bi-caret-left-fill{
    display: block;
      
}


/* Banner cards */

.sec-banner{
    padding-bottom: 50px;
    padding-top: 80px;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
}
.banner-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;

}

.block1{
    position: relative;
    border: 1px solid #e6e6e6;
    width: 368px;
    height: 248px;
}

.banner-img{
    width: 100%;
    height: 100%;
}

.block1 a{
    padding: 34px 38px;
}

.block1-txt{
    background-color: rgba(103,117,214,0.0);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block1-txt-child1{
    display: flex;
    flex-direction: column;
}

.block1-name{
    font-family: Poppins;
    font-weight: bold;
    color: #333;
    font-size: 28px;
    line-height: 1.1; 
    transition: all 0.4s;
    padding-bottom: 8px;  
}

.block1-info {
    transition: all 0.4s;
    color: #555;
    font-weight: 300;
    font-size:14px;
}

.block1-txt-child2{
    border-bottom: 2px solid #fff;
    overflow: hidden;
    transition: all 0.5s;
    padding-bottom: 4px;
    transform: scaleX(0);
    width: 82px;
}

.block1-txt:hover {
    background-color: rgba(103,117,214,0.8);
}

.block1-txt:hover .block1-name, .block1-txt:hover .block1-info{
    color: #fff;
}
.block1-txt:hover .block1-txt-child2{
    transform:scaleX(1);
}

.block1-link{
    transform: translateY(250%);
    font-family: Poppins;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
}

.block1-txt:hover .block1-link {
    transform: translateY(0%);
    
}

/* products */
.product-section{
    background-color: #fff;
    padding-bottom: 70px;
    padding-top: 23px;
    display: block;
   
}



.product-heading-div{
    padding-bottom: 10px;
}

.product-heading{
   color: rgb(34, 34, 34);
   text-transform: uppercase;
   font-weight: 900;
   font-family: Poppins;
   font-size: 36px;
   line-height: 39.6px;
   letter-spacing: 2px;
}

.filter-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}


.filter-row-links ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    gap: 40px;
    color: #888888;
    margin-bottom: 0;
}

.filter-active{
    color: #333333;
    border-bottom: 1px solid #333333;
}

.filter-row-links ul li:hover{
    cursor: pointer;
    color: #333333;
    border-bottom: 1px solid #333333;
}
.filter-btn, .search-btn{
    border: 1px solid #88888860;
}
.search-btn{
    margin-left: 6px;
    width: 130px;
}

.filter-btn:hover, .search-btn:hover{
    background-color: #717fe0;
    color: white;
}


/* product cards */

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.product-card{
    width: 245px;
    height: 365px;
    margin-bottom: 40px;
}

.card-img{
    height: 303px;  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    transition: all 1s;
    
}
.card-img .view-btn{
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
}

.view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    background-color: white;
    color: black;
    padding:0px 15px ;
    width: 130px;
    height: 40px;
    border-radius: 40px;
}

.view-btn p{
    margin-bottom: 0px;
}

.view-btn:hover{
    background-color: #333333;
    color: white;
}

.card-img:hover{
    background-size: 104%;  
}

.card-img:hover .view-btn{
    transform: translateY(0px);
    opacity: 1;
    
    transition:all 500ms;
}

.card-info{
    padding: 5px 2px;
}

.card-main{
    display: flex;
    justify-content: space-between;
    color: rgb(153, 153, 153);
    font-family: Poppins;
    font-weight: 300;
    font-size: 15px;
}
.card-main p{
    margin-bottom: 5px;
}
.card-price{
   color: #666666;
}

.card-main .bi{
    font-size: 23px;
    transition: all 200ms;
}
.card-main .bi:hover{
    color: #717fe0;
}


/* footer */
footer{
    margin-top: 40px;
    height: 100%;
    width: 100%;
    background-color: rgb(34,34,34);
    color:white;
    padding:60px 10px 20px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}
.footer-main{
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
}

.footer-card{
    width: 260px;
    height: 240px;
    padding: 0px 15px 50px;
    
}
.footer-card ul{
    list-style: none;
     padding-left: 0;  
}
.footer-card ul li{
    padding-bottom: 10px;
}
.footer-card ul li a, .footer-card p{
    color: rgb(178, 178, 178);
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
}

.footer-card h4{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 30px;
}

.social-links a{
   color:#b2b2b2;
   transition: all 0.4s;
   font-size: 18px;
   margin-right: 16px;
}
.social-links a:hover{
    color: #717fe0;
}

/* email input form*/

.mail-form-input input{
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 2px solid #666666;
    padding-bottom: 4px;
    transition: border 200ms ease-in-out;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.923;
}
.mail-form-input input:focus{
     border-bottom: 2px solid #717fe0;
    width: 100%;
    padding-bottom: 4px;
    outline: none;
    transition: border 200ms ease-in-out;

}

.form-button{
    margin-left: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    width: 70%;
    margin-top: 20px;
    background-color: #717fe0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 0.3px;
    transition: all 0.4s ease;
}
.form-button:hover{
    color: #717fe0;
    background-color: #fff;
}

/* secondary footer */
.footer-second{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.payment-partners{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}
.payment-partners a{
    margin-right: 7px;
}

.copyright-text{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.923;
    color: #888;
}

/* carousel item and animations */

.carousel-item{
    position:relative;
}

.main-slide-container{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 180px;
}

.category span{
    display: inline-block;
    font-family: Poppins;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2857;
    color: #333;
    
}


.item h2{
    padding-bottom: 43px;
    padding-top: 19px;
    margin: 0px;
    font-family: Playfair Display SC;
    color: #333;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    
}

.main-button a{
    padding: 10px 35px;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: #717fe0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 0.3px;
    transition: all 0.4s ease;
}
.main-button:hover a{
    border-color: #222;
    background-color: #222;
    color: #fff;
    transition: all 0.4s ease;
}

/* slides animations */
.first-slide-caption{
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-delay: 500ms;
}

.first-slide-heading{
    animation-name:fadeInUp;
    animation-duration: 2s;
    animation-delay: 0s;
}


.first-slide-button{
    animation-name:zoomIn;
    animation-duration: 3s;
}


/* second slide animations */
.second-slide-caption{
    animation-name:rollIn;
    animation-duration: 1.5s;
}
.second-slide-heading{
    animation-name: lightSpeedIn;
    animation-duration: 2.5s;
}
.second-slide-button{
    animation-name:slideInUp;
    animation-duration: 2s;
}

.third-slide-caption{
    animation-name:rotateInDownLeft;
    animation-duration: 1.5s;
}
.third-slide-heading{
    animation-name: rotateInUpRight;
    animation-duration: 2s;
}
.third-slide-button{
    animation-name:rotating;
    animation-duration: 1s;
}


/* animations keyframes */
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }

  /* fadeinup */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }

  /* zoomIn */
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }

  /* rollin */

  @keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }

  /* slowlySpeedIn */
  @keyframes lightSpeedIn {
    from {
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      transform: skewX(-5deg);
      opacity: 1;
    }
  
    to {
      transform: none;
      opacity: 1;
    }
  }

  /* slideup */
  @keyframes slideInUp {
    from {
      transform: translate3d(0, 200%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  /* rotateinfromleft */
  @keyframes rotateInDownLeft {
    from {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, -45deg);
      opacity: 0;
    }
  
    to {
      transform-origin: left bottom;
      transform: none;
      opacity: 1;
    }
  }

  /* rotateIn up form right */
  @keyframes rotateInUpRight {
    from {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, -90deg);
      opacity: 0;
    }
  
    to {
      transform-origin: right bottom;
      transform: none;
      opacity: 1;
    }
  }
  
  /* rotate and come inside */
  @keyframes rotating{
    from{
        transform-origin: center;
        transform: rotate(360deg);
    }
    to{
        transform-origin: center;
        transform:none;
    }
  }



  /* load button */

  .load-button-section{
    padding-top: 20px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .load-btn{
    border: none;
    text-transform: uppercase;
    min-width: 179px;
    height: 46px;
    border-radius: 30px;
    background-color: #e6e6e6;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.466667;
    transition: all 0.4s;
  }

.load-btn:hover{
    border-color: #222;
    background-color: #222;
    color: #fff;
    transition: all 0.4s;
}




/* cart */
.cart-hidden{
    display: none;
}

.cart-body{
   
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    z-index: 9999999;
}

.cart-container{
    position: absolute;
    right: 0;
    top:0;
    background-color: #fff;
    height: 100%;
    width: 400px;
    padding: 35px 65px;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
}

.header-cart-title {
    width: 260px;
    max-width: 100%;
    height: 16.5%;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8px;
}
.header-cart-title span{
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.333333;
    text-transform: uppercase;
    color: #333;
}
.hide-cart-btn{
    color: #333;
    transition: all 0.4s;
    line-height: 1.0;
    padding-right: 5px;
    padding-left: 5px;
    
}
.hide-cart-btn span{
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.header-cart-content{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    align-content: space-between;
}

.header-cart-wrapitem{
    width: 100%;
    flex-grow: 1;
    padding-left: 0px;
}
.header-cart-wrapitem ul li{
    margin: 0px;
    list-style-type: none;
    list-style: none;
}
.header-cart-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.header-cart-item-img{
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.header-cart-item-img img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.header-cart-item-txt{
    width: calc(100% - 80px);
    padding-top: 8px
}

.header-cart-item-name{
    display: block;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
    transition: all 0.4s;
    margin-bottom: 18px;
}
.header-cart-item-name a{
    text-decoration: none;
    background-color: transparent;
    color: #007bff;
}

.header-cart-item-info {
    display: block;
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    color: #888;
    line-height: 1.5;
}

.w-full-contain{
    width: 100%;
}

.header-cart-total {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #222;
    line-height: 1.3;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}


.header-cart-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.view-cart-btn{
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    min-width: 125px;
    height: 40px;
    background-color: #222;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.checkout-btn{
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    min-width: 125px;
    height: 40px;
    background-color: #222;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.view-cart-btn:hover, .checkout-btn:hover{
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
    transition: all 0.4s;
}











@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
.carousel-caption{
    display: none;
    opacity: 0;
    visibility: hidden;
}

header .top-bar{
    display: none;
}
.menu-desktop{
    display: none;
}

.sec-banner{
    padding-top: 10px;
}
.filter-row{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:440px;
    margin-bottom: 40px;
}
.filter-row-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    /* column-gap: 10px; */
    row-gap: 10px;
}

.filter-row-btn{
    margin-top: 30px;
}

.card-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.footer-main{
    flex-direction: column;
}
.copyright-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.header-nav{
    padding-top: 15px;
}
.form-button{
    margin-left: 35px;
}

}